.menu{
    background-color:#065273;
    display: flex;
    justify-content:flex-end;
}
.banner{
    background-color:#065273;

}
.banner-button{
    background-color: tomato;
    border-radius: 15%;;
    
    padding: 5px;
}
.hell{
    text-align: center;
    padding-bottom: 30px;
}
.nd-banner{
    padding-top: 50px;
    padding-bottom: 40px;

}
.row{
    padding: 35px;
}
.bikeimg{
    filter: grayscale(100%);
    padding: 30px;
}
.order{
    display:inline;
}
span{
    color: orange;
}